<% include partials/header %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>

<div class="ui main container">
	<div class="ui top attached segment">
		<img class="ui centered rounded image" src="<%= location.image %>">
		<h2 class="ui dividing header"><%= location.city %></h2>

			<div class="ui two column divided stackable grid">
				<div class="column">
						<p>Longitude: <%= location.lon %> Latitude: <%= location.lat %></p>
						<p><strong>Local time:</strong> <span id="clockbox"></span></p>
						<p><strong>Latest observation:</strong> <%- location.observations[location.observations.length - 1].temp.toString() %>&degC, <%- location.observations[location.observations.length - 1].condition %></p>
				</div>
				<div class="column">
						<form class="ui form" action="/locations/<%= location.id %>" method="POST">
							<div class="field">
								<label>Temperature</label>
								<input type="number" step="0.1" name="observation[temp]" placeholder="Temperature" required>
							</div>
							<div class="field">
								<label>Current conditions</label>
								<input type="text" name="observation[condition]" placeholder="Conditions">
							</div>
							<input class="ui primary button" type="submit" value="Save">
						</form>
				</div>
			</div>

		<h3 class="ui dividing header">Observation history in <%= location.city %></h2>
		<div class="ui two column divided stackable grid">
			<div class="column">
				<div align="center">
					<button class="ui button frame">3 days</button>
					<button class="ui button frame">Past week</button>
					<button class="ui button frame">Past month</button>
					<button class="ui button frame primary">All</button>
				</div>
				<div>
					<canvas id="myChart"></canvas>
				</div>
			</div>
			<div class="column">
				<table class="ui selectable inverted compact table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Temperature</th>
							<th>Conditions</th>
						</tr>
					</thead>
					<tbody>
						<% for (var i = location.observations.length - 1; i >= 0; i--){ %>
						<tr>
							<td class="date"><%- moment(location.observations[i].time).tz(location.tz).format("DD.MM.YYYY") %></td>
							<td class="time"><%- moment(location.observations[i].time).tz(location.tz).format("HH:mm") %></td>
							<td class="temp"><%- location.observations[i].temp %>&degC</td>
							<td class="condition"><%- location.observations[i].condition %></td>
						</tr>
						<% }; %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<script>
	var tz = "<%- location.tz %>";
	var city = "<%- location.city %>";
	var observations = [];
	<% for(var i=0;i<location.observations.length;i++){ %>
		observations.push({t: "<%- location.observations[i].time %>", y: <%- location.observations[i].temp %>});
	<%};%>

</script>

<script type="text/javascript" src="/js/show.js"></script>

<% include partials/footer %>